<div class="card">

  <div class="card-header"><h2><%= @planes.model %></h2></div>

  <div class="card-body">

  <ul>
    <li><span class="font-weight-bold">Features: </span><span><%= @planes.description %></span></li>
    <li><span class="font-weight-bold">Quantity </span><span><%= @planes.quantity %></span></li>
    <li><span class="font-weight-bold">Number of Door </span><span><%= @planes.doorCount %></span></li>
    <li><span class="font-weight-bold">Distance Per Gallon </span><span><%= @planes.distacePerGallon %></span></li>
    <li><span class="font-weight-bold">Name Of Manufacturer</span><span><%= @planes.manufacturer.name %></span></li>
  </ul>

  </div>

</div>