<div class="card">

  <div class="card-header"><h2><%= @planes.model %></h2></div>

  <div class="card-body">

  <ul>

    <li><span class="font-weight-bold">Quantity: </span><span><%= @planes.quantity %></span></li>

    <li><span class="font-weight-bold">Year: </span><span><%= @planes.year %></span></li>
      <li><span class="font-weight-bold">Door Count: </span><span><%= @planes.doorCount %></span></li>

    <li><span class="font-weight-bold">Mileage: </span><span><%= @planes.distacePerGallon %></span></li>

    <li><span class="font-weight-bold">Manufacturer: </span><span><%= @planes.manufacturer.name %></span></li>

  </ul>

  </div>

</div>